html {
    font-size: calc(1vw/12.8);
    @media (max-width: 768px) {
        font-size: calc(1vw/7.68);
    }
    @media (max-width: 320px) {
        font-size: calc(1vw/3.2);
    }
}
body{
    margin: 0;
}

.search-container {
    width: 100%;
    height: 65rem;
    display: flex;
    justify-content: space-around;
    background-color: #a4cebcf0;
    position: relative;
}
.search-input {
    display: flex;
    height: 30rem;
    border-radius: 20rem;
    border: none;
    outline: none;
    text-transform: capitalize;
    padding-left: 15rem;
    width: 90%;
    align-self: center;
    
}

.search {
    border-radius: 5rem;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 60rem;
    background: none;
}

.search-img {
    width: 16rem;
}

.gallery {
    padding: 40rem;
    background-color: #fff;
    columns: 6;
    column-gap: 10rem;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20rem;
    border-radius: 5rem;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 40rem;
    display: flex;
    padding: 20rem;
    justify-content: space-around;
    background-color: #a4cebcf0;
}

.img_logo {
    height: 100%;
}

.img_logo:hover {
    transform: scale(1.1);
}

.github {
    font-size: 20rem;
    text-decoration: none;
    color: rgb(8, 8, 7);
}

.github:hover {
    color: rgb(7, 6, 2);
    text-decoration: solid;
    transform: scale(1.1);
}
